body {
  background: rgb(183, 169, 133);
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  // scroll-behavior: smooth;
}
section {
  width: 80%; //for header not overlapping section, since header's fixed
  margin: 0 auto; // align center on x axis
  height: 100vh;
  @media screen and (max-width: 600px) {
    height: max-content; //from 100vh that causes
    // margin-top: 5%; //since home container is flex and content is center which creates space , so this creates extra space,manually set for each section
    overflow-y: hidden;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
@mixin question {
  position: absolute;
  top: -20px;
  display: flex;
  align-items: center;
  gap: 5px;

  hr {
    border: 0.5px solid black;
    animation: lineAnimation 1s infinite alternate;
  }
}

@mixin h1 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 60px;
  span {
    color: rgb(153, 92, 11);
  }
  @media (max-width: 900px) {
    // changing from 600 to 900
    font-size: 31px;
  }
}
@mixin description {
  font-weight: 500;
  margin-left: 5px;
  font-size: 1.75rem;
  span {
    text-transform: uppercase;
  }
  @media (max-width: 600px) {
    font-size: 1rem;
  }
  @media (min-width: 601px) and (max-width: 900px) {
    font-size: 18px;
  }
}

a,
button {
  cursor: pointer;
  color: inherit;
}

@mixin section-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  width: 50%;

  @media screen and (max-width: 600px) {
    gap: 1rem;
  }
  @media (min-width: 601px) and (max-width: 900px) {
    gap: 1.25rem;
  }
}

@keyframes lineAnimation {
  from {
    width: 0;
  }
  to {
    width: 6rem;
  }
}
