header.header {
  position: fixed;
  left: 1.5rem;
  z-index: 1;
  // top: 0;
  width: max-content;
  background: rgb(183, 169, 133);
  .header-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; //for &::after
    &::before {
      content: "";
      height: 35%;
      width: 5px;
      background: rgb(34, 101, 120);
      background: rgb(156, 114, 9);
      position: absolute;
      top: 0;
      border-radius: 50%;
    }
    &::after {
      content: "";
      height: 25%;
      width: 5px;
      background: rgb(156, 114, 9);
      position: absolute;
      bottom: 0;
      border-radius: 50%;
    }
    nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
      margin-top: 10vh;

      a {
        cursor: pointer;
        border: none;
        border-radius: 50%;
        background: rgb(241, 226, 190);
        transition: 0.5s;
        position: relative;

        span {
          position: absolute;
          top: 18px;
          left: 3.25rem;
          opacity: 0;
          transition: 1s;
          font-size: 12px;
          text-transform: uppercase;
          color: rgb(0, 0, 0);
        }

        svg {
          padding: 1rem;
          transform: scale(1.2);
        }
        &:hover {
          background: rgb(201, 169, 90); /* Change background color on hover */
          span {
            opacity: 0.5;
          }
          svg {
            transition: transform 0.5s; /* Add transition property for transform */
            transform: scale(1.75);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 0 0 1rem 0;
    width: 100vw !important;
    top: 0;
    left: 0 !important;
    background: transparent;
    box-shadow: 1px 1px 30px rgb(198, 113, 16);
    &-container {
      margin: 0 auto;
      display: block !important;
      height: initial !important;
      &::before,
      &::after {
        display: none;
      }

      nav {
        flex-direction: row !important;
        margin-top: 10px !important;
        a {
          span {
            height: max-content;
            bottom: -5rem !important;
            left: 0 !important;
            top: 3.25rem !important;
            height: min-content;
          }
        }
      }
    }
  }
}
