@use "./global.scss" as *;
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  &_text {
    @include left-col;
    div.question {
      @include question;
    }
    h1 {
      @include h1;
    }
    .description {
      @include description;
    }
    p.social-links {
      margin-left: 5px;
      display: flex;
      align-items: center;
      max-width: 50%;
      justify-content: start;
      gap: 2rem;
      .insta {
        color: rgb(170, 20, 45);
      }
      .fb {
        color: rgb(6, 72, 94);
      }
      .linkedin {
        color: rgb(2, 89, 123);
      }
      a {
        transform: scale(1.5);
        transition: transform 0.5s;

        &:hover {
          transform: scale(2);
        }
      }
    }
    button {
      width: 50%;
      box-sizing: border-box;
      padding: 1rem 2rem;
      border: none;
      border-radius: 1rem;
      transition: 0.5s;
      background: rgb(237, 214, 177);
      //   font-size: 1rem;
      letter-spacing: 4px;
      &:hover {
        background: rgb(213, 188, 119);
        // letter-spacing: 7px;
      }
    }
  }

  &_img {
    width: 50%; //width 50% for image container
    height: 100%;
    border-radius: 2rem;
    position: relative;
    .image-circle {
      position: absolute;
      top: 2.5rem;
      left: 2.5rem;
      width: 30rem;
      height: 100%;
      border: 20px solid rgb(153, 92, 11, 0.6);
      border-radius: 50%;
      background: rgb(196, 132, 55);
      // background: transparent;
      z-index: -1;
    }

    img {
      position: absolute; // for placing on bottom 0 of screen
      bottom: 5rem;
      width: 100%;
      // height: 100%;
      transform: scale(1.3);
    }
  }
}

@keyframes widthChange {
  from {
    width: 0;
  }
  to {
    width: 6rem;
  }
}

@media screen and (max-width: 600px) {
  .home {
    &_text {
    }
    &_img {
      display: none;
    }
  }
}
