.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // provides top and bottom space for text and image

  &_text {
    width: 50%; //width 50% for text container
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    // justify-content: center;
    // align-items: end;

    h1 {
      font-weight: 800;
      font-size: 3.5rem;
      //   letter-spacing: 1px;
      text-transform: uppercase;
    }
    h4 {
      font-weight: 300;
      margin-left: 5px;
      font-size: 1.5rem;
      span {
        // color: burlywood;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
    p.social-links {
      margin-left: 5px;
      display: flex;
      align-items: center;
      gap: 1rem;
      .insta {
        color: rgb(170, 20, 45);
      }
      .fb {
        color: rgb(6, 72, 94);
      }
      .linkedin {
        color: rgb(2, 89, 123);
      }
      a {
        text-decoration: none;
        color: inherit;
        transition: transform 0.5s;

        &:hover {
          transform: scale(2);
          //   border-bottom: 1px solid;
        }
      }
      //   margin: 1rem 0 0 5px;
    }
    button {
      width: 50%;
      height: 3.25rem;
      box-sizing: border-box;
      cursor: pointer;
      padding: 1rem 2rem;
      border: none;
      border-radius: 1rem;
      transition: 0.5s;
      background: rgb(237, 214, 177);
      //   font-size: 1rem;
      letter-spacing: 4px;
      &:hover {
        background: rgb(213, 188, 119);

        letter-spacing: 7px;
      }
    }
  }

  &_img {
    width: 50%; //width 50% for image container
    height: 100%;
    // overflow: hidden;
    border-radius: 2rem;
    position: relative;
    .image-circle {
      position: absolute;
      top: 0rem;
      left: 0;
      width: 70rem;
      height: 80rem;
      border: 20px solid rgb(153, 92, 11);
      border-radius: 50%;
      background: rgb(165, 110, 42);
      //   background: transparent;
      z-index: -1;
    }

    img {
      position: absolute; // for placing on bottom of image container
      bottom: 20px;
      width: 90%;
      height: 70%;
      //   transition: 1s;
      //   z-index: 1;
      //   display: none;
      //   &:hover {
      //     transform: scale(1.1);
      //   }
    }
  }
}
