@use "./global.scss" as *;
section.projects {
  position: relative;
  height: max-content; //height is 100vh for every section
  .flex {
    margin: 0 0 2rem 0; //for space from  bottom  (projects)
    display: flex;
    gap: 2rem;

    img {
      // width: 20rem;
      height: 17rem; // keep image to size of text beside manually
    }
  }
  .project_text {
    // margin-top: 2rem; //overflox-y is hidden for each section this prevents class question from not viewing
    @include section-text;
    div.question {
      @include question;
    }
    .description {
      @include description;
    }
    h1 {
      @include h1;
    }
  }

  .project_container {
    display: grid;
    grid-template-columns: auto auto;
    // grid-template-columns: auto;
    gap: 2rem;
    .project {
      //for each project
      box-sizing: border-box;
      height: 18rem;
      width: 80%;
      width: 100%;
      margin: 0 auto;
      border-radius: 3rem;
      cursor: pointer;
      &:hover {
        transition: 0.2s;
        box-shadow: 1px 1px 20px rgb(152, 78, 8);
      }
    }
    .project1 {
      background: url("public/nba.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      // position: relative;
      // backdrop-filter: blur(500px);

      // &:hover::after {
      //   content: "nbastore.in";
      //   position: absolute;
      //   // height: 100%;
      //   // width: 100%;
      //   background: rgb(127, 104, 62);

      //   // display: flex;
      //   font-size: 5rem;
      // }
    }
    .project2 {
      background: url("public/whitepole.png");
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

@media screen and (max-width: 600px) {
  section.projects {
    margin-top: 3rem;
    .flex {
      flex-direction: column;
      gap: 0; // space bw text and image

      img {
        // height: 100%; // keep image to size of text beside manually
        display: none;
      }
    }
    .project_text {
      width: 100%;
      margin-top: 0rem;
    }

    .project_container {
      grid-template-columns: auto;
      gap: 1rem;

      .project {
        width: 100%;
        height: 25vh; //to be changed
      }
      //from here
    }
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  section.projects {
    // .flex {
    //   img {
    //   }
    // }
    // .project_text {
    // }

    .project_container {
      grid-template-columns: auto;

      .project {
        width: 100%;
      }
    }
  }
}
