@use "./global.scss" as *;
section.projects {
  position: relative;
  .flex {
    margin: 2rem 0;
    display: flex;
    gap: 2rem;

    img {
      // width: 20rem;
      height: 17rem; // keep image to size of text beside manually
    }
  }
  .project_text {
    // width: 50%;
    // position: relative;
    // margin-top: 2rem; //overflox-y is hidden for each section this prevents class question from not viewing
    @include section-text;
    div.question {
      @include question;
    }
    .description {
      @include description;
    }
    h1 {
      @include h1;
    }
  }

  .project_container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    .project {
      height: 50vh; //to be changed
      width: 100%;
      border-radius: 2rem;
      background: rgb(100, 65, 0);
    }
  }
}

@keyframes infiniteCircle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  section.projects {
    margin-top: 3rem;
    .flex {
      flex-direction: column;
      gap: 0; // space bw text and image

      img {
        // height: 100%; // keep image to size of text beside manually
        display: none;
      }
    }
    .project_text {
      width: 100%;
      margin-top: 0rem;
    }

    .project_container {
      grid-template-columns: auto;
      gap: 1rem;

      .project {
        height: 25vh; //to be changed
      }
      //from here
    }
  }
}
